* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 312px auto;
}

p {
  display: block;
  width: 400px;
  margin: 449px auto;
  font: 30px Monaco,"Courier Old","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
