* {
  margin:0px;
  padding:0px;
  background-color: rgb(0, 0, 0);
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  color: rgb(255, 255, 255);
  font: 30px "Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.fork{
  font-size: 30px;
  font: 30px "Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

button{
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 9px;
   font: 18px "Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: rgb(255, 255, 255);
  border: 1px solid;
  cursor: pointer;
}

div{
  text-align: center;
}