#octocat {
    display: block;
    width:384px;
    margin: 10px auto 0 auto;
}

#num1 {
    margin: 40px auto 0 auto;
    font: 30px Monaco;
    text-align: center;
}

#num2 {
    margin: 0 auto 0 auto;
    font: 30px Monaco;
    color: rgba(0, 89, 255, 0.2);
    text-align: center;
}

#num2 a {
    text-decoration: none;
    color: inherit;
}