.home{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.search-form{
    display: flex;
    gap: 20px;
    margin: 5px;  
    margin-bottom: 2em;  
}

.search-bar{
    outline: none;
    border: 1px solid;
    padding: 10px;
    padding-right: 5em;
    border-radius: 3px;
    color: rgb(75, 82, 92);
}

.search-btn{
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: crimson;
    cursor: pointer;
    color: whitesmoke;
}

.search-btn:hover{
    background-color: brown;
}

.movies-grid{
    display: grid;
    column-gap: 1em;
    row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}