name: AutoUpdateCFN
on:
  push:
    branches:
      - main
    # paths:
    #   - './github/workflows/**'

jobs:
  read-online-file:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 2

      - name: Set up github cli
        uses: ksivamuthu/actions-setup-gh-cli@v1
        with:
          version: 2.24.3
      - run: gh version

      - name: Push changes and raise PR
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git config --global user.name "automation.kx"
          git config --global user.email "automation.kx@gmail.com"

          # re-sync main from upstream
          git remote add upstream https://github.com/octocat/Spoon-Knife.git
          git fetch upstream main
          git merge upstream/main --no-edit --allow-unrelated-histories
          git push origin main

          # create and switch to feature branch
          FEATURE_BRANCH_NAME="automation/test-${{ github.run_id }}"
          git checkout -b "$FEATURE_BRANCH_NAME"
          git add .
          git diff-index --quiet HEAD || git commit -m "gha $(date +%F)"
          git push --set-upstream origin $FEATURE_BRANCH_NAME

          # create PR to upstream
          UPSTEAM_REPO="octocat/Spoon-Knife"
          # gh repo set-default "$UPSTEAM_REPO"
          
          gh pr create \
            --repo $UPSTEAM_REPO \
            --head "${{ github.repository_owner }}:$FEATURE_BRANCH_NAME" \
            --base main \ 
            --title "Automation: test" \
            --body "PR is to test sync fork repo in gha."
